:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

.app {
  text-align: center;
}

.app-header {
  background-color: var(--dark-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--light-color);
}

.app-link {
  color: var(--primary-color);
}

.sidebar {
  background-color: var(--dark-color);
  max-width: 20vw;
  align-items: center;
  justify-content: center;
  color: var(--light-color);
}
